<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DoCRM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="db_conn" connectionString="Data Source=ANDREWTARUTC749\SQLEXPRESS;Initial Catalog=sky_db;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0" />
    <pages theme="MainTheme"><controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls></pages>
  </system.web>

  <appSettings>
    <add key="login_1c" value="sky_user" />
    <add key="pass_1c" value="sky%utrfnhsd" />
  </appSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>

  <applicationSettings>
    <DoCRM.Properties.Settings>
      <setting name="WebApplication1_wsSky_wsSky" serializeAs="String">
        <value>http://217.67.121.205:45679/skymbs/ws/wssky1.1cws</value>
      </setting>
      <setting name="DoCRM_wsSkyRef_wsSky" serializeAs="String">
        <value>http://217.67.121.205:45679/skymbs/ws/wssky1.1cws?wsdl</value>
      </setting>
    </DoCRM.Properties.Settings>
  </applicationSettings>
</configuration>
